{% load static %}

<!-- Brand Logo -->
  <a href="{% url 'index' %}" class="brand-link">
    <img src="{% static 'dist/img/icon_logo_s.png' %}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
    <span class="brand-text font-weight-light">Flight Dashboard</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      {% if user.username == "Administrador" %}
      <div class="image">
        <img src="{% static 'dist/img/admin.png'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      {% elif user.username == "Funcionario" %}
      <div class="image">
        <img src="{% static 'dist/img/func.png'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      {% elif user.username == "Torre" %}
      <div class="image">
        <img src="{% static 'dist/img/func.png'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      {% elif user.username == "Piloto" %}
      <div class="image">
        <img src="{% static 'dist/img/func.png'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      {% elif user.username == "Gerente" %}
      <div class="image">
        <img src="{% static 'dist/img/geren.png'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      {% elif user.username == "Desenvolvedor" %}
      <div class="image">
        <img src="{% static 'dist/img/developer.png'%}" class="img-circle elevation-2" alt="User Image">
      </div>
      {% endif %}
      <div class="info">
        <a style="pointer-events: none" href="#" class="d-block">{{ user.username }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a {% if request.resolver_match.view_name == 'painel' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'painel' %}">
            <i class="fa-solid fa-table fa-xl"></i>
            &nbsp;&nbsp;<p>Painel</p>
          </a>
        </li>
        {% if user.username != "Painel" %}
        
            <li class="nav-item">
              <a {% if request.resolver_match.view_name == 'crud' %}          class="nav-link active" 
                 {% elif request.resolver_match.view_name == 'criar_voo' %}   class="nav-link active"
                 {% elif request.resolver_match.view_name == 'deletar_voo' %} class="nav-link active"
                 {% elif request.resolver_match.view_name == 'editar_voo' %}  class="nav-link active"
                 {% elif request.resolver_match.view_name == 'ler_voo' %}     class="nav-link active"
                 {% elif request.resolver_match.view_name == 'voos' %}     class="nav-link active"
                 {% elif request.resolver_match.view_name == 'enhanced_crud' %}     class="nav-link active"
                 {% else %} class="nav-link" 
                 {% endif %} href="{% url 'enhanced_crud' %}">
                &nbsp;<i class="fa-solid fa-database fa-xl"></i>
                &nbsp;&nbsp;<p>CRUD</p>
              </a>
            </li>      
            <li class="nav-item">
              <a {% if request.resolver_match.view_name == 'atualiza_status' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'atualiza_status' %}">
                <i class="fa-solid fa-rotate fa-xl"></i>
                &nbsp;&nbsp;<p>Atualizar Status</p>
              </a>
            </li>
            <li class="nav-item">
              <a {% if request.resolver_match.view_name == 'gera_relatorio' %}             class="nav-link active"
                 {% elif request.resolver_match.view_name == 'relatorio_chegadas' %}       class="nav-link active"
                 {% elif request.resolver_match.view_name == 'relatorio_partidas' %}       class="nav-link active"
                 {% elif request.resolver_match.view_name == 'relatorio_movimentacoes' %}  class="nav-link active" 
                 {% else %} class="nav-link" {% endif %} href="{% url 'gera_relatorio' %}">
                &nbsp;<i class="fa-regular fa-file-lines fa-xl"></i>
                &nbsp;&nbsp;&nbsp;<p>Gerar Relatório</p>
              </a>
            </li>
        {% endif %}

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->