{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "Administrador" or user.username == "Desenvolvedor" %}
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0">Edição de voo</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
   <!-- Main content -->
   <div class="content">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Edição de voo</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" action="{% url 'editar_voo' %}" >
          {% csrf_token %}
          <div class="card-body">
            <h5>Para manter o campo, digite "-" no campo</h5>

            <div class="form-group">
              <label for="codigo">Código de voo</label>
              <input name="codigo"type="text" class="form-control" id="codigo" required>
            </div>
            <div class="form-group">
              <label for="companhia">Companhia Aerea</label>
              <input name="companhia" type="text" class="form-control" id="companhia">
            </div>
            <div class="form-group">
              <label for="local">Local</label>
              <input name="local" type="text" class="form-control" id="local">
            </div>
            <div class="form-group">
              <label for="horario_previsto">Horário Previsto (formato => 14:24 27/03/1999)</label>
              <input name="horario_previsto" type="time" class="form-control" id="horario_previsto">
            </div>
            <!-- <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile">
                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text">Upload</span>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
          </div>
          <!-- /.card-body -->
          
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Editar voo</button>
            {% if obj %}
            <p style="color:green">Voo editado com sucesso</p>
            {% endif %} 
            {% if error %}
            <p style="color:red">Voo não foi editado com sucesso, verifique a formatação dos dados. {{error}}</p>
            {% endif %} 
          </div>
        </form>
        
      </div>
      <!-- /.card -->
  </div>
  <!-- /.content -->
</div>
{% else %}
  {% include 'base/error.html' %}
{% endif %}
{% endblock body %}