{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "Administrador" or user.username == "Desenvolvedor" %}
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0"></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
   <!-- Main content -->
   <div class="content">
    <!-- general form elements -->
    <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Edição de voo</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST" action="{% url 'editar_voo' %}" >
          {% csrf_token %}
          <div class="card-body">
            <h5>Preencha os campos que deseja alterar. Deixe vazio os campos que não deseja alterar.</h5>

            <div class="form-group">
              <label for="codigo">Código de voo</label>
              <input name="codigo"type="text" class="form-control" id="codigo" placeholder="AA0000" required>
            </div>
            <div class="form-group">
              <label for="local">Local</label>
              <input name="local" type="text" class="form-control" id="local" placeholder="Chegada/Partida">
            </div>
            <div class="form-group">
              <label for="horario_previsto">Horário Previsto</label>
              <input name="horario_previsto" type="time" class="form-control" id="horario_previsto">
            </div>
          </div>
          <!-- /.card-body -->
          
          <div class="card-footer">
            <button type="submit" class="btn btn-warning">Editar voo</button>
            {% if obj %}
            <p style="color:green">Voo editado com sucesso</p>
            {% endif %} 
            {% if error %}
            <p style="color:red">Voo não foi editado com sucesso, verifique a formatação dos dados. {{error}}</p>
            {% endif %} 
          </div>
        </form>
        
      </div>
      <!-- /.card -->
  </div>
  <!-- /.content -->
</div>
{% else %}
  {% include 'base/error.html' %}
{% endif %}
{% endblock body %}