{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "Gerente" or user.username == "Desenvolvedor" %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0"></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    
      <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Relatório de chegadas</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Código de voo</th>
                    <th>Horário Real</th>
                    <th>Data</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for chegada in chegadas %}
                  <tr>
                    <td> {{ chegada.id }} </td>
                    <td> {{ chegada.voo.codigo }} </td>
                    <td> {{ chegada.horario_real }} </td>
                    <td> {{ chegada.data }} </td>
                    <td>
                        {% if chegada.status == "VO"%}
                          Em voo
                        {% elif chegada.status == "AT" %}
                          Aterrisado
                        {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Código de voo</th>
                    <th>Horário Real</th>
                    <th>Data</th>
                    <th>Status</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Filtragem
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a type="button" class="btn btn-secondary" href="{% url 'relatorio_chegadas' %}">
              Resetar
            </a>
          </div>
          <br>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Dados</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              {% if parameters %}
              <p><strong>Parâmetros: </strong> De <strong>{{ data_inicio }}</strong> até <strong>{{ data_fim }}</strong>, com status: <strong>{{ status }} </strong></p>
              {% else %}
              <p><strong>- Sem filtragem -</strong></p>
              {% endif %}           

              <p><strong>Número de chegadas:</strong> {{ contagem }}</p> 
              <!-- {% for key, value in dict_companhias.items %}
              <p><strong>Número de chegadas da {{ key }}:</strong> {{ value }}</p> 
              {% endfor %} -->

              <div class="row">
                <div class="col-md-6">
              <!-- DONUT CHART -->
              <div class="card card-danger">
                <div class="card-header">
                  <h3 class="card-title">Distribuição dos status de voo</h3>
      
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              </div>
              <div class="col-md-6">
              <!-- BAR CHART -->
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Chegadas por companhia aérea</h3>
      
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              </div>
              </div>
            </div>

          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Filtragem de dados</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="{% url 'relatorio_chegadas' %}" id="filterform">
                    {% csrf_token %}
                    <div class="card-body">
                          <div class="form-group">
                            <label for="status">Status</label>
                            <select id="status" name="status" class="custom-select rounded-0">      
                              <option value="Todos">Todos</option>
                              <option value="VO">Em voo</option>
                              <option value="AT">Aterrisado</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="data_inicio">Data de início</label>
                            <input name="data_inicio" type="date" class="form-control" id="data_inicio" required>
                          </div>
                          <div class="form-group">
                            <label for="data_fim">Data de fim</label>
                            <input name="data_fim" type="date" class="form-control" id="data_fim" required>
                          </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="submit" form="filterform" id="filterform" class="btn btn-primary">Filtrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
    </div>
  </div>

  <script>
    $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

    var areaChartData = {
      labels  : ['Azul', 'Gol', 'Latam', 'Lufthansa', 'Emirates'],
      datasets: [
        {
          label               : 'Partidas',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : ["{{ dict_companhias.Azul|default_if_none:0}}", "{{ dict_companhias.Gol|default_if_none:0}}", 
                                 "{{ dict_companhias.Latam|default_if_none:0}}", "{{ dict_companhias.Lufthansa|default_if_none:0}}", 
                                 "{{ dict_companhias.Emirates|default_if_none:0}}"]
        },
      ]
    }

    var areaChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }

    // This will get the first returned node in the jQuery collection.
    new Chart(areaChartCanvas, {
      type: 'bar',
      data: areaChartData,
      options: areaChartOptions
    })

    
  
  })
    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: [
          'Em voo',
          'Aterrisado',
      ],
      datasets: [
        {
          data: ["{{ cont_status.0 }}","{{ cont_status.1 }}"],
          backgroundColor : ['#f56954', '#00a65a'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })

  </script>

    
     
{% else %}
  {% include 'base/error.html' %}
{% endif %} 
{% endblock body %}